extends base.pug

block style
    style
        include ../static/style.css
        include ../static/SerStyle.css


block content
    nav#navbar
        ul
            img(src="static/img4.png", alt="", srcset="")
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            //- li #[a(href="/") Pricing]
            li #[a(href="/events") Events]
            li #[a(href="/contact") Contact]

block sec
    div.upsec
        div.loc
            h1 Upcoming Events Scheduled in The Institution
            h4 Save these dates!


            h4 2021 Season!

            h5 Special Performance Opportunity: Daytona 500
            h6 February 14, 2021 All Day Event

            h5 Marshall Ellis Dance School at MEPAC Presents: The ME Concert
            h6 March 5 & 6, 2021 @ 7:00pm

            h5 ME Dance Charity Presents: iDance Orlando Festival
            h6 April 24 & 25, 2021 @ 7:00pm

            h5 Marshall Ellis Dance School at MEPAC Presents: Elite and ME Concert
            h6 May 21, 2021 @ 7:00pm

            h5 Marshall Ellis Dance School at Dr. Phillips Presents: Showcase ME
            h6 May 28, 2021 @ 7:00pm

            h5 OTOWN Taps Performance
            h6 June 18-19, 2021 @ 7:00pm

            h5 Summer Dance Intensives



            h6 4 Week Ballet Intensive: June 1 - 25, 2021 (Performance on June 25)
            h6 2 week Dance Intensive: July 12 - 24, 2021 (Performance on July 24)

block footer
    footer
        div
            || Creator : Mayank | All Rights Reserved |