//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            img(src="static/img4.png", alt="", srcset="")
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Pricing]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact]
    section#sec1
        h1 Welcome to Nikki's Dance Academy
        div We gave best dancers to the town
    section#sec3
        h3 Our Goals
        div.container
            div.card1
                h4 Perfection
                div.card11
                    img(src="static/img1.png", alt="", srcset="")
                    p We aim to teach every move with perfection
            div.card2
                h4 Quality
                div.card22
                    img(src="static/img2.png", alt="", srcset="")
                    p We aim to give best quality tools and instruments for dance practice
            div.card3
                h4 Passion
                div.card33
                    img(src="static/img3.png", alt="", srcset="")
                    p We aim to produce passion in every student for dance

    section#sec2
        h3 Our Sponsers
        div.spon
            img(src="static/logo1.png", alt="", srcset="")
            img(src="static/logo2.png", alt="", srcset="")
            img(src="static/logo3.png", alt="", srcset="")
            img(src="static/logo4.png", alt="", srcset="")
            img(src="static/logo5.png", alt="", srcset="")
    
    footer
        div
            || Creator : Mayank | All Rights Reserved |
    script(src="static/script.js")

                